*.pyc
workers.txt
schedule.txt
*.csv
.ipynb_checkpoints/readingCVSoutput-checkpoint.ipynb
.ipynb_checkpoints/readingFirstStepOutputInHayekinaMarket.ipynb
.ipynb_checkpoints/readingCsvOutput-checkpoint.ipynb
.ipynb_checkpoints/readingFirstStepOutputInHayekinaMarket-checkpoint.ipynb
