5.txt filter=lfs diff=lfs merge=lfs -text
7.txt filter=lfs diff=lfs merge=lfs -text
8.txt filter=lfs diff=lfs merge=lfs -text
9.txt filter=lfs diff=lfs merge=lfs -text
9b.txt filter=lfs diff=lfs merge=lfs -text
1.txt filter=lfs diff=lfs merge=lfs -text
10.txt filter=lfs diff=lfs merge=lfs -text
11.txt filter=lfs diff=lfs merge=lfs -text
6.txt filter=lfs diff=lfs merge=lfs -text
7b.txt filter=lfs diff=lfs merge=lfs -text
8b.txt filter=lfs diff=lfs merge=lfs -text
